<!DOCTYPE html>

<html>
    <!-- Head -->
    <head>
        <!-- Meta Data -->
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">

        <!-- Page Data -->
        <title>Gotta Go Charters</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="css/index.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </head>

    <!-- Body -->
    <body class="column">

        <!-- SECTION: Header -->
        <div id="header" class="row">
            <!-- Brand -->
            <img class="brand_logo" src="img/logo.svg">
            <h1 class="brand_name">Gotta Go <span>Charters</span></h1>
        </div>

        <!-- SECTION: Content -->
        <div id="content" class="column">
            <!-- SECTION: About -->
            <div id="introduction" class="col">
                <!-- Paragraph -->
                <p>Whether you are looking for a quick retreat or have a work function, we’re the people to get you and your team there. Our team is dedicated in making sure you get to your destination safely and with ease.</p>
            
                <!-- Spacing -->
                <br>

                <!-- Paragraph -->
                <p>Specialising in charters ranging anywhere from <strong>coastal trips</strong> and <strong>winery tours</strong> to <strong>airport transfers</strong>, <strong>hens and bucks nights</strong>. You will have a blast no matter where you go.</p>
            </div>

            <!-- SECTION: Vehicles -->
            <div id="vehicles" class="col">
                <!-- Heading -->
                <h2>Our Vehicles</h2>

                <!-- Spacer -->
                <br>

                <!-- Paragraph -->
                <p>We have plenty of vehicles, of all shapes and sizes, to help you get to your destination.</p>

                <!-- Spacer -->
                <br>
                <br>

                <div class="row vehicles">
                    <!-- Vehicle -->
                    <div class="vehicle col">
                        <!-- Thumbnail -->
                        <img class="vehicle_thumbnail" src="img/vehicle_small.svg">
    
                        <!-- He ading -->
                        <h3>Small Bus 11</h3>

                        <!-- Features -->
                        <ul class="vehicle_features">
                                <li><p>Seats up to 11 passengers.</p></li>
                                <li><p>Includes a driver.</p></li>
    
                                <!-- Spacer -->
                                <br>
    
                                <li><p>Air conditioned.</p></li>
                                <li><p>Seat belts fitted.</p></li>
                        </ul>
                    </div>

                    <!-- Divider -->
                    <div class="divider-v"></div>

                    <!-- Vehicle -->
                    <div class="vehicle col">
                        <!-- Thumbnail -->
                        <img class="vehicle_thumbnail" src="img/vehicle_medium.svg">
    
                        <!-- Heading -->
                        <h3>Medium Bus 21</h3>

                        <!-- Features -->
                        <ul class="vehicle_features">
                                <li><p>Seats up to 21 passengers.</p></li>
                                <li><p>Includes a driver.</p></li>
    
                                <!-- Spacer -->
                                <br>
    
                                <li><p>Air conditioned.</p></li>
                                <li><p>Seat belts fitted.</p></li>
                        </ul>
                    </div>

                    <!-- Divider -->
                    <div class="divider-v"></div>

                    <!-- Vehicle -->
                    <div class="vehicle col">
                        <!-- Thumbnail -->
                        <img class="vehicle_thumbnail" src="img/vehicle_medium.svg">
    
                        <!-- Heading -->
                        <h3>Medium Bus 24</h3>

                        <!-- Features -->
                        <ul class="vehicle_features">
                                <li><p>Seats up to 24 passengers.</p></li>
                                <li><p>Includes a driver.</p></li>
    
                                <!-- Spacer -->
                                <br>
    
                                <li><p>Air conditioned.</p></li>
                                <li><p>Seat belts fitted.</p></li>
                        </ul>
                    </div>
                    
                    <!-- Divider -->
                    <div class="divider-v"></div>

                    <!-- Vehicle -->
                    <div class="vehicle col">
                        <!-- Thumbnail -->
                        <img class="vehicle_thumbnail" src="img/vehicle_large.svg">
    
                        <!-- Heading -->
                        <h3>Large Bus 40</h3>

                        <!-- Features -->
                        <ul class="vehicle_features">
                                <li><p>Seats up to 40 passengers.</p></li>
                                <li><p>Includes a driver.</p></li>
    
                                <!-- Spacer -->
                                <br>
    
                                <li><p>Great for local trips.</p></li>
                        </ul>
                    </div>
                    
                    <!-- Divider -->
                    <div class="divider-v"></div>

                    <!-- Vehicle -->
                    <div class="vehicle col">
                        <!-- Thumbnail -->
                        <img class="vehicle_thumbnail" src="img/vehicle_large.svg">
    
                        <!-- Heading -->
                        <h3>Large Bus 45</h3>

                        <!-- Features -->
                        <ul class="vehicle_features">
                            <li><p>Seats up to 45 passengers.</p></li>
                            <li><p>Includes a driver.</p></li>

                            <!-- Spacer -->
                            <br>

                            <li><p>Great for local trips.</p></li>
                        </ul>
                    </div>
                    
                    <!-- Divider -->
                    <div class="divider-v"></div>

                    <!-- Vehicle -->
                    <div class="vehicle col">
                        <!-- Thumbnail -->
                        <img class="vehicle_thumbnail" src="img/vehicle_large.svg">
    
                        <!-- Heading -->
                        <h3>Large Bus 46</h3>

                        <!-- Features -->
                        <ul class="vehicle_features">
                            <li><p>Seats up to 46 passengers.</p></li>
                            <li><p>Includes a driver.</p></li>

                            <!-- Spacer -->
                            <br>

                            <li><p>Air conditioned.</p></li>
                            <li><p>Boot storage.</p></li>
                        </ul>
                    </div>
                    
                    <!-- Divider -->
                    <div class="divider-v"></div>

                    <!-- Vehicle -->
                    <div class="vehicle col">
                        <!-- Thumbnail -->
                        <img class="vehicle_thumbnail" src="img/vehicle_large.svg">
    
                        <!-- Heading -->
                        <h3>Large Bus 57</h3>

                        <!-- Features -->
                        <ul class="vehicle_features">
                                <li><p>Seats up to 57 passengers.</p></li>
                                <li><p>Includes a driver.</p></li>
                        </ul>
                    </div>

                    <!-- Divider -->
                    <div class="divider-v"></div>

                    <!-- Vehicle -->
                    <div class="vehicle col">
                        <!-- Thumbnail -->
                        <img class="vehicle_thumbnail" src="img/vehicle_large.svg">
    
                        <!-- Heading -->
                        <h3>Large Bus 57 Luxe</h3>

                        <!-- Features -->
                        <ul class="vehicle_features">
                            <li><p>Seats up to 57 passengers.</p></li>
                            <li><p>Includes a driver.</p></li>

                            <!-- Spacer -->
                            <br>

                            <li><p>Air conditioned.</p></li>
                            <li><p>Seat belts fitted.</p></li>
                            <li><p>Boot storage.</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- SECTION: Contact -->
            <div id="contact" class="col">
                <!-- Heading -->
                <h2>Let's Chat</h2>

                <!-- Spacer -->
                <br>

                <!-- Paragraph -->
                <p>We'd love to get in touch! Please fill out the following details and we'll be with you shortly.</p>

                <!-- Spacer -->
                <br>
                <br>

                <!-- Form -->
                <div id="form" class="column">
                    <div id="stage1" class="column">
                        <!-- Errors View -->
                        <div id="errors"></div>

                        <!-- Contact Info -->
                        <input type="text" name="name" placeholder="Name">
                        <input type="text" name="phone" placeholder="Phone">
                        <input type="text" name="email" placeholder="Email">

                        <!-- Spacer -->
                        <br>

                        <!-- Trip Details -->
                        <input type="text" name="pickup" placeholder="Departure location">
                        <input type="text" name="destination" placeholder="Arrival location">
                        <input type="text" name="passengers" placeholder="How many passengers?">

                        <!-- Spacer -->
                        <br>

                        <!-- Submit -->
                        <input type="submit" value="Done">
                    </div>

                    <div id="success" class="column hidden">
                        <!-- Heading -->
                        <h1>We'll be with you shortly!</h1>
                    </div>
                </div>
            </div>

            <!-- SECTION: About -->
            <div id="location" class="col">
                <!-- Heading -->
                <h2>Our Location</h2>

                <!-- Spacing -->
                <br>

                <!-- Paragraph -->
                <p>Come and visit our team at the depot.</p>

                <!-- Spacing -->
                <br>

                <!-- Paragraph -->
                <p>215 Station St</p>
                <p>Corio Victoria, Australia</p>

                <!-- Map Link -->
                <a href="https://goo.gl/maps/Uq6DsSx31vT2">Open in Google Maps</a>
                
            <!-- </div> -->
        </div>

        <!-- Footer -->
        <div id="footer" class="column">
            <h6>Copyright © Gotta Go Charters 2019. All Rights Reserved.</h6>
        </div>

        <!-- Script -->
        <script>
            // EVENT: On submit click
            $('#content #contact #form #stage1 input[type=submit]').on('click', function(e) {

                // Make post request
                $.ajax({
                    method: 'POST',
                    url: '/contact',
                    data: {
                        name: $('#content #contact #form #stage1 input[name=name]').val(),
                        phone: $('#content #contact #form #stage1 input[name=phone]').val(),
                        email: $('#content #contact #form #stage1 input[name=email]').val(),
                        pickup: $('#content #contact #form #stage1 input[name=pickup]').val(),
                        destination: $('#content #contact #form #stage1 input[name=destination]').val(),
                        passengers: $('#content #contact #form #stage1 input[name=passengers]').val()
                    }
                }).done(function(res) {
                    // Remove error class from inputs
                    $('#content #contact #form #stage1 input[name=name]').removeClass('error')
                    $('#content #contact #form #stage1 input[name=phone]').removeClass('error')
                    $('#content #contact #form #stage1 input[name=email]').removeClass('error')
                    $('#content #contact #form #stage1 input[name=pickup]').removeClass('error')
                    $('#content #contact #form #stage1 input[name=destination]').removeClass('error')
                    $('#content #contact #form #stage1 input[name=passengers]').removeClass('error')

                    console.log(res.errors)

                    // Check response for errors
                    if (res.errors) {
                        // Iterate through errors
                        for (error of res.errors) {
                            // If error param is name
                            if (error.param == 'name') {
                                // Add error class
                                $('#content #contact #form #stage1 input[name=name]').addClass('error')
                            }

                            // If error param is phone
                            if (error.param == 'phone') {
                                // Add error class
                                $('#content #contact #form #stage1 input[name=phone]').addClass('error')
                            }

                            // If error param is email
                            if (error.param == 'email') {
                                // Add error class
                                $('#content #contact #form #stage1 input[name=email]').addClass('error')
                            }

                            // If error param is pickup
                            if (error.param == 'pickup') {
                                // Add error class
                                $('#content #contact #form #stage1 input[name=pickup]').addClass('error')
                            }

                            // If error param is destination
                            if (error.param == 'destination') {
                                // Add error class
                                $('#content #contact #form #stage1 input[name=destination]').addClass('error')
                            }

                            // If error param is passengers
                            if (error.param == 'passengers') {
                                // Add error class
                                $('#content #contact #form #stage1 input[name=passengers]').addClass('error')
                            }
                        }
                    }
                    else {
                        // Fade stage 1 view out
                        $('#content #contact #form #stage1').animate({
                            opacity: 0
                        }, 1000, function() {
                            // Add hidden class to stage 1
                            $('#content #contact #form #stage1').addClass('hidden')

                            // Adjust success css
                            $('#content #contact #form #success').css('opacity', '0')
                            $('#content #contact #form #success').css('height', $('#content #contact #form #success').css('height'))
                            
                            // Remove hidden class from success
                            $('#content #contact #form #success').removeClass('hidden')

                            // Animate success in
                            $('#content #contact #form #success').animate({
                                opacity: 1
                            }, 1000, function() {
                                // Do nothing :)
                            })
                        })
                    }
                })

            })
        </script>
    </body>
</html>